# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.csv

# Environment
.env
*.env
.venv/
venv/
discogs_checker_venv/
instance/

# IDEs
.idea/
.vscode/
*.code-workspace

# Logs and temporary files
*.log
cookies.txt
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build and distribution
dist/
build/
*.egg-info/

# Databases
*.db
*.sqlite

# OS specific
.DS_Store
Thumbs.db

# Project specific
.junie/
*settings*
*scraper.py
basic.conf
fly*
