*.pyc
*.db
*.csv
*settings*
*userdb*
venv/
discogs_checker_venv/

__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
*scraper.py
.gitignore
*docker*
Docker*
basic.conf
Procfile
fly*
*venv*
