<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<body>
    <p>{{ucollection}}</p>
        <!-- <p> {{name_var}}<p>
          <p> {{profile}}<p>
    <p> {{url}}<p>
    <p>{% for item in formats %}
    {{item}},
    {% endfor %}</p>
    <p>Label: {{labels}} ({{catno}})<p>
    <p>Style: {% for item in styles %}
      {{item}},
      {% endfor %}</p>


    <p>{{all_data}}<p> -->






    <button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
<body>
</html>
