<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<div class="container-fluid">
<body class="text-center">
    <h5><b>{{artists_name}} - {{title}} </b></h5>
    <img src={{uri150}} alt="picture"><br>
    <p> {{year}}<p>
    <p>genre: {% for item in genres %}
    {{item}},
    {% endfor %}</p>
  <p>lowest price: {{lowest_price}} € </p>
    tracks:{% for item in tracks %}
        <br>{{item}}
        {% endfor %}
<body>
</div>

    <!--<p>{{all_data}}<p>






    <button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
<body>
</html>
